#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
}
.square {
    height: 40px;
    width: 40px;
}
.piece img {
    max-height: 30px;
    max-width: 30px;
    margin: 5px;
}
.beige {
    background-color: rgb(110, 110, 98);
}
.brown {
    background-color: rgb(169, 43, 43);
}
.black {
    filter: invert(0);
    /* fill: rgb(28, 28, 28); */
}
.white {
    filter: invert(1);
    /* fill: rgb(255, 255, 255); */
}